@use '../../styles/mixins' as *;

:host {
    @include flex-center;
    flex: 1;
}

section {
    @include flex-center;
    flex-direction: column;
}

input {
    border: unset;
    width: 518px;
    height: 48px;
    padding: 12px 24px;
    border: 1px solid white;
    border-radius: 40px;
    background-color: #1C1A20CC;
    color: white;
    font-size: 18px;
    font-weight: 400;

    &::placeholder {
        color: white;
    }
}



.formClass {
    display: flex;
    gap: 16px;
}