<section>

    <h1 class="h1">Predigten, Lehreinheiten ...</h1>
    <h2 class="h2">
        Gib Deine Email-Adresse an um ein Abo zu erstellen oder zu erneuern.
    </h2>

    <form (ngSubmit)="onSubmit()" #formRef="ngForm">
        <div class="flex-row">
            <input type="email" [(ngModel)]="email" #emailRef="ngModel" name="email" placeholder="Email Address"
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>

            <button type="submit" [disabled]="(!formRef.valid)">Anmelden&nbsp;&gt;</button>
        </div>


        <div class="error-message">@if (!emailRef.valid && emailRef.touched) {Gültige Emailadresse angeben!}
        </div>



    </form>


</section>