:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: .5;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        align-self: flex-start;
        font-size: 20px;
    }

}