<section>
    <div class="container">
        <h2>Reset password</h2>
        <span>Create a new password for your <div class="purple">Predigtflix</div> account.</span>

        <form #form="ngForm" (ngSubmit)="onSubmit(form)">

            <input type="password" name="password" [(ngModel)]="password" placeholder="Enter a Password" required>
            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password"
                required #confirm="ngModel" [pattern]="password">

            <div class="error-message">
                @if (confirm.invalid && confirm.touched) {Passwörter stimmen nicht überein<br>}
            </div>

            <button type="submit" [disabled]="(!form.valid)">Reset my password</button>

        </form>
    </div>
</section>