:host {
  position: sticky;
  top: 0;
  z-index: 100; // optional, aber oft nötig bei sticky-Headern
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 96px;
}


.logo {
  height: 32px;
  cursor: pointer;
}

.logo-small {
  width: 28px;
  object-fit: cover;
  object-position: top left;
}

.disabled-link {
  pointer-events: none;  /* deaktiviert Klick */
  cursor: default;       /* Mauszeiger neutral */
}


.arrow {
  height: 24px;
  cursor: pointer;
}


.placeholder-button {
  visibility: hidden;
}