<header>
    <a routerLink="/"><img src="logo2.png" class="logo"></a>

    @if ((isVideOfferPage() || isPredigtDetailPage()) && authService.isAuthenticated()) {
    <button (click)="logout()"><img src="./images/icons/logout.svg">Log&nbsp;out</button>
    }

    @else if (!isLoginPage() && !isVideOfferPage() && !isImprintOrLegalNotice()) {
    <a routerLink="/login"><button>Log in</button></a>
    }

    @else if (isImprintOrLegalNotice()) {
    <img class="arrow" (click)="goBack()" src="./images/icons/arrow_back.svg">

    }

    @else {
    <button class="placeholder-button" aria-hidden="true" tabindex="-1">Back</button>
    }

</header>