 form {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 16px;

     input {
         width: 408px;
         border: unset;
         height: 48px;
         padding: 12px 24px;
         border-radius: 12px;
         border: 1px solid #2E3EDF;
         background-color: #1C1A20CC;
         color: #D3D3D3;
         font-size: 18px;
         font-weight: 400;

         &::placeholder {
             color: white;
         }
     }
 }


 .error-message {
     display: flex;
     align-items: flex-start;
     align-self: flex-start; // immer links
     gap: 5px;
     color: red;
     height: 24px; // fest, damit es nicht ruckelt
 }