.page-wrapper {
    min-height: 100vh;
    position: relative;
}


.page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
    position: relative;
}

.page-content app-header,
.page-content app-footer {
    flex-shrink: 0;
}

.centered-content {
    display: flex;
    flex: 1;
    align-items: center; // vertikal zentriert
    justify-content: center; // optional: horizontal zentriert
}

section {
    gap: 32px;

    h2,
    h3,
    span {
        text-align: center;
    }


}

.container {
    display: flex;
    width: 520px;
    flex-direction: column;
    align-items: center;
    background-color: #1B1B22D9;
    padding: 43px 56px;
    gap: 32px;
    border-radius: 48px;


}