.page-wrapper {
    min-height: 100vh;
    position: relative;

}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.page-content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

.startpage-bg {
    background-image: url('/images/praying.jpg');
    filter: brightness(0.2);
}

.login-bg {
    background-image: url('/images/worship.jpg');
    filter: brightness(0.2);
}

.register-bg {
    background-image: url('/images/bible.jpg');
    filter: brightness(0.2);
}

.forgotpw-bg {
    background-image: url('/images/light.jpg');
    filter: brightness(0.2);
}

.legalnotice-bg {
    background-image: none;
    background-color: black;
}

.imprint-bg {
    background-image: none;
    background-color: black;
}