.page-wrapper {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.startpage-bg {
    background-image: url('/images/start_background.jpg');
}

.legalnotice-bg {
    background-image: none;
    background-color: black;
}

.imprint-bg {
    background-image: none;
    background-color: black;
}