<section>

    <div class="container">
        <h2>Anmelden</h2>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <input type="email" name="email" [(ngModel)]="email" placeholder="Email Address" required>
            <input type="password" name="password" [(ngModel)]="password" placeholder="Enter a Password" required>
            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password"
                required>
            <button type="submit">Get started</button>
        </form>
    </div>


</section>