<section class="privacy">
    <h2>Datenschutzerklärung</h2>

    <h3>1. Datenschutz auf einen Blick</h3>
    <p>
        Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert,
        wenn
        Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert
        werden können.
    </p>

    <h4>Datenerfassung auf dieser Website</h4>
    <p>
        Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber:
    </p>
    <address>
        Dr. Christoph Völker<br />
        Koppelbarg 33<br />
        23564 Lübeck<br />
        E-Mail: <a href="mailto:info@predigtflix.de">info&#64;predigtflix.de</a>
    </address>

    <h3>2. Hosting</h3>
    <p>
        Die Website wird auf einem eigenen Server oder einem Hostinganbieter innerhalb der EU betrieben. Dabei werden
        automatisch Daten wie IP-Adresse, Datum, Uhrzeit und aufgerufene Seiten gespeichert. Diese Daten sind technisch
        notwendig, um die Website bereitzustellen, und dienen nicht der Identifizierung der Besucher.
    </p>

    <h3>3. Verwendung von Cookies</h3>
    <p>
        Diese Website verwendet keine Cookies, die einer Zustimmung bedürfen.
    </p>

    <h3>4. Analyse-Tools und Tracking</h3>
    <p>
        Es wird kein Webanalyse-Tool (wie Google Analytics oder Matomo) eingesetzt.
    </p>

    <h3>5. Plugins und Tools</h3>
    <p>
        Diese Website verwendet keine externen Schriftarten oder Medien von Drittanbietern wie Google Fonts, YouTube
        oder
        Vimeo.
    </p>

    <h3>6. Rechte der betroffenen Personen</h3>
    <p>
        Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren
        Herkunft und Empfänger sowie den Zweck der Datenverarbeitung. Außerdem haben Sie ein Recht auf Berichtigung,
        Sperrung oder Löschung dieser Daten.
    </p>
    <p>
        Bei Fragen zum Thema Datenschutz können Sie sich jederzeit an den Betreiber dieser Website wenden:
    </p>
    <address>
        Dr. Christoph Völker<br />
        E-Mail: <a href="mailto:info@predigtflix.de">info&#64;predigtflix.de</a>
    </address>

    <h3>7. Änderung dieser Datenschutzerklärung</h3>
    <p>
        Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen
        Anforderungen
        entspricht.
    </p>
</section>