<section class="impressum">
    <h2>Impressum</h2>

    <p><strong>Angaben gemäß § 5 TMG</strong></p>

    <address>
        Dr. Christoph Völker<br>
        Koppelbarg 33<br>
        23564 Lübeck<br>
        Deutschland
    </address>

    <p>
        E-Mail: <a href="mailto:info@predigtflix.de">info<span class="hidden">[at]</span>predigtflix.de</a>
    </p>

    <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong></p>
    <address>
        Dr. Christoph Völker<br>
        Koppelbarg 33<br>
        23564 Lübeck
    </address>
</section>