<section>
    <div class="container">
        <h2>Log In</h2>

        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <input type="email" name="email" [(ngModel)]="email" placeholder="Email Address" required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
            <div style="display: flex; gap: 20px">
                <button type="submit" [disabled]="(!form.valid)">Log In</button>
                <button type="button" (click)="guestLogin()">Guest</button>
            </div>
        </form>

        <a routerLink="/forgot-pw">Forgot password?</a>
        <div style="display: flex; gap:10px">
            <span>
                New to Videoflix?
            </span>
            <a routerLink="/register">Sign Up now</a>
        </div>

    </div>

</section>