<section>
    <div class="container">
        <h2>Log In</h2>

        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <input type="email" name="email" [(ngModel)]="email" placeholder="Email Address">
            <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
            <button type="submit">Log In</button>
        </form>

        <a routerLink="/forgot-pw">Forgot password?</a>
        <div style="display: flex; gap:10px">
            <span>
                New to Videoflix?
            </span>
            <a routerLink="/register">Sign Up now</a>
        </div>

    </div>

</section>