<section>


    <div class="container">
        <h2>Forgot your password?</h2>
        <span>
            We will send you an email with instructions to reset your password.
        </span>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <!-- EMAIL -->
            <input type="email" name="email" [(ngModel)]="email" #emailRef="ngModel" placeholder="Email Address"
                required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />



            <div class="error-message">
                @if (emailRef.invalid && emailRef.touched) {Emailadresse ungültig}
            </div>

            <button type="submit" [disabled]="(!form.valid)">Send Email</button>

        </form>
    </div>



</section>