:host {
    width: 100vw;
}


section {


    .hero {
        img {
            width: 100vw;
        }
    }

}



.series-list {

    padding: 20px;

    h4 {
        font-size: 22px;
        font-weight: 700;
        color: white;
        margin-bottom: 8px;
    }

    .series-block {

        display: flex;
        gap: 18px;
        padding: 20px;

        .thumb {
            height: 120px;
            width: auto;
            cursor: pointer;
        }

        img {
            height: 100%;
        }
    }


}