<section>

    <!-- serien-übersicht.component.html -->
    <div *ngFor="let serie of serien" class="serie-block">
        <h2>{{ serie.title }}</h2>
        <p>{{ serie.description }}</p>

        <div class="predigten-grid">
            <div *ngFor="let predigt of serie.predigten" class="predigt-item">
                <img [src]="predigt.thumbnail" [alt]="predigt.title" (click)="onFolgeClick(predigt.video_url)"
                    class="thumbnail" />
                <p>{{ predigt.title }}</p>
            </div>
        </div>
    </div>


</section>