<section>

    @if (!isMobile || (isMobile && showHeroOnMobile)) {
    <div class="hero">
        <img [src]="selectedPredigt?.thumbnail_file">
        <div class="innerHero">
            <h3>{{selectedPredigt?.title}}</h3>
            <span>
                {{selectedPredigt?.description}}
            </span>
            <div style="display: flex; gap: 10px">
                <button (click)="onPlayClick(selectedPredigt)">Play</button>
                @if (isMobile){<button (click)="onBackClick()">Back</button>}
            </div>
        </div>
    </div>
    }

    @if (!isMobile || (isMobile && !showHeroOnMobile)) {
    <div class="series-list">

        @for (serie of serien; track serie) {

        <h3 class="h3"> {{ serie.title }}</h3>

        <div class="series-block">

            @for (predigt of serie.predigten; track predigt) {

            <div class="thumb" (click)="onFolgeClick(predigt)">
                <img [src]="predigt.thumbnail_file" alt="">
            </div>

            }

        </div>
        }

    </div>
    }
</section>