.series-list {

    .series-block {

        h4 {
            font-size: 22px;
            font-weight: 700;
            color: white;
        }

        .thumb {
            height: 120px;
            width: auto;
            cursor: pointer;
        }

        img {
            height: 100%;
        }
    }


}