<section>

    <div class="hero">
        <img [src]="selectedPredigt?.thumbnail_file">
        <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ut commodi cupiditate aliquid! Ratione
            eveniet molestias unde alias totam esse architecto voluptates saepe minima? Itaque beatae officia animi ipsa
            voluptas.
        </span>
        <button (click)="onPlayClick(selectedPredigt)">Play</button>
    </div>


    <div class="series-list">

        @for (serie of serien; track serie) {

        <h4> {{ serie.title }}</h4>

        <div class="series-block">

            @for (predigt of serie.predigten; track predigt) {

            <div class="thumb" (click)="onFolgeClick(predigt)">
                <img [src]="predigt.thumbnail_file" alt="">
            </div>

            }

        </div>
        }

    </div>
</section>