/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'dmsans';
    src: url('../public/fonts/DMSans-VariableFont.ttf') format('truetype');
}


* {
    font-family: 'dmsans'
}


* {
    box-sizing: border-box;
}


button {
    //width: 99px;
    height: 48px;
    border: unset;
    border-radius: 40px;
    background-color: #2E3EDF;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 24px;
    cursor: pointer;
}