<div class="video-wrapper">
  <video #player playsinline controls></video>

  @if (audioTracks.length > 1) {
    <div class="language-selector">
      <label for="audioTrack">Sprache: </label>
      <select id="audioTrack" [value]="currentAudioTrack" (change)="changeLanguage($event)">
        @for (let track of audioTracks; track track.id) {
          <option [value]="track.id">{{ track.name }}</option>
        }
      </select>
    </div>
  }

  @if (qualityLevels.length > 1) {
    <div class="quality-selector">
      <label for="quality">Qualität: </label>
      <select id="quality" [value]="currentQualityLevel" (change)="changeQuality($event)">
        @for (let level of qualityLevels; track level.id) {
          <option [value]="level.id">{{ level.label }}</option>
        }
      </select>
    </div>
  }
</div>
